<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="/stylesheets/styles2.css">
<body>
  <div class="profile-header">
    <div class="profile-header-section">
      <img id="profilePhoto" src="./images/dp.jfif" alt="">
      <p id="Username">@<%= user.username   %> </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quasi in asperiores, ea eius molestias sed iste ducimus, expedita suscipit placeat impedit ipsam laudantium aspernatur ex error maxime dignissimos quis.</p>
      <a href="/logout"  class="account-settings-button" >Logout</a>

      <form id="form" action="/upload" method="post" enctype="multipart/form-data">
        <div class="input-group">
          <input type="text" name="filecaptions" placeholder="enter captions...">

          <label for="files">Select files</label>
          <input type="file" id="files" name="file">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="column">
      <% user.posts.forEach(function(post){%>
          <div class="posts">
           <img class="post" src="./data/uploads/<%=post.image%>" alt="">
           <label for="img"><%= post.postText%></label>
          </div>
      <%})%>
  </div>
</body>
</html>