* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --red: #e60023;
}

body, html  {
  width: 100%;
  background-color: rgb(217, 142, 224)
}

body {
  display: grid;
  place-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}
.account-settings-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #7e57c2;
  color: #ffffff;
  background: linear-gradient(to right, #673ab7, #512da8);
  border-radius: 5px;
  transition: background 0.3s ease;
}

.account-settings-button:hover {
  background: linear-gradient(to right, #512da8, #4527a0);
}
.profile-header{
  padding: 100px;
  /* border: 2px solid red; */
}
#Username{
  font-weight: 800;

}
.profile-header-section{
  margin: auto;
  margin: 0 25%;
  text-align: center;
  padding: 10px;
  border: 2px solid rgb(98, 5, 114);
  border-radius: 30px 30px;
  box-shadow:  10px 10px rgb(98, 5, 114);
  background-color: aliceblue;
}

.profile-header-section img{
  border-radius: 50%;
  border: solid 7px rgb(67, 65, 65);
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 100%;
  column-gap: 1em;
  padding: 2em;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content-wrapper p {
  padding: 0;
  font-weight: bold;
}

.overlay {
  cursor: zoom-in;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  padding: 0.75em;
  color: white;
  opacity: 0;
}

.overlay:hover {
  opacity: 1;
}

.overlay div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.overlay div > p {
  cursor: pointer;
}

.overlay div .round-button:nth-child(2) {
  margin-left: auto;
  margin-right: 0.7em;
}
.round-button {
  width: 2.4em;
  height: 2.4em;
  border: none;
  border-radius: 50%;
  display: grid;
  place-items: center;
  opacity: 0.8;
}

.round-button img {
  width: 60%;
  height: 60%;
}

.spheric-button {
  border-radius: 50px;
  border: none;
  padding: 0.5em 01.25em;
  opacity: 0.8;
  font-weight: 800;
}

.spheric-button:hover, .round-button:hover {
  opacity: 1;
  cursor: pointer;
}

.save {
  padding: 1em 1.5em;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 900;
  cursor: pointer;
  background-color: var(--red);
}

.save:hover {
  background-color: #ad081b;
}


@media (max-width: 1050px) {
  .container {
     grid-template-columns: repeat(3, 1fr);
  }
  
  .column:last-child {
    display: none;
  }
}

@media (max-width: 800px) {
  .container {
     grid-template-columns: repeat(2, 1fr);
  }
  
  .column:nth-child(3) {
    display: none;
  }
}

@media (max-width: 550px) {
  .container {
     grid-template-columns: 1fr;
    gap: 3em;
  }
 
  .column:nth-child(3) {
    display: flex;
  }
  
  .column:last-child {
    display: flex;
  }
  
}