* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --red: #e60023;
}

body, html  {
  background-color: rgb(217, 142, 224);
  overflow-x: hidden;
}

body {

  place-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.account-settings-button {
  display: inline-block;
  padding: 7px 12px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #7e57c272;
  color: #ffffff;
  background: linear-gradient(to right, #753bd966, #941cfd);
  font-size: small;
  font-weight: 600;
  border-radius: 15px;
  transition: background 0.3s ease;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.account-settings-button:hover {
  background: linear-gradient(to right, #512da8, #4527a0);
}
.profile-header{
  margin: 0;
  padding: 100px;
}
#Username{
  font-weight: 800;

}
.profile-header-section{
  margin: auto;
  margin: 0 25%;
  text-align: center;
  padding: 10px;
  border: 2px solid rgba(98, 5, 114, 0.466);
  border-radius: 30px 30px;
  box-shadow:  10px 10px rgba(98, 5, 114, 0.352);
  background-color: aliceblue;
}

#profilePhoto{
  border-radius: 50%;
  border: solid 7px rgb(67, 65, 65);
}


#form .input-group{
  margin: 20px;
  /*border: 5px solid#4527a0;
  */background-color: #7446fe14;
  padding: 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#form button{
  padding: 5px;
  color: white;
  background-color: rgba(63, 61, 61, 0.541);
}

#form button:hover{
  background-color: rgba(40, 40, 40, 0.591);
  cursor: pointer;
}


.overlay button{
  width: 20px;
  height: 20px;
}

.post{
  width: 10%;
  object-fit: cover;
  border-radius: 20px;
}

.posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.posts label{
  background-color: white;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 50px;

}
.posts img{
  width: 100%;
}
.column{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 500px;
  gap: 1em;
  
}
.content-wrapper{
  position: relative;
  border: 1px solid orange ;

}

.round-button {
  width: 3em;
  height: 3em;
  border: none;
  border-radius: 50%;
  opacity: 0.8;
}
.round-button img {
  width: 30%;
  height: 30%;
}
.spheric-button {
  height: 10%;
  border-radius: 50px;
  border: none;
  padding: 0.5em 01.25em;
  opacity: 0.8;
  font-weight: 800;
}
.spheric-button:hover, .round-button:hover {
  opacity: 1;
  cursor: pointer;
}

.save {
  padding: 1em 1.5em;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 900;
  cursor: pointer;
  background-color: var(--red);
}

.save:hover {
  background-color: #ad081b;
}
.overlay {
  

  cursor: zoom-in;
  position: absolute;
  width: fit-content;
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
  border: 1px solid green;
}
.overlay div {
  width: 100%;
  height: 100%;
  display: flex;
  flex: row;
  justify-content: space-evenly;
  border: 1px solid white;
}

.overlay img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 16px;
}